.burger-menu {
    display: none;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    align-items: center;
}

.header__menu {
    display: flex;
    gap: 40px;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
}

.header__menu>Li:first-child {
    border: 1px solid var(--border-color);
    border-radius: var(--border8);
    padding: 8px 16px;
}

.header_enter {
    display: flex;
    gap: 10px;
}

.header-top__button {
    background-color: var(--color-bg-light);
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
}

.header__menu>li:hover,
.header-top__button:hover {
    color: var(--hover-color);
}

.header-bottom {
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bottom-left-wrapper {
    flex-direction: column;
}

h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 32px;
}

.header__h1-gradient {
    background: linear-gradient(93.33deg, #d77be6 9.26%, #be63e6 42.32%, #6c38cc 104.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-bottom_buttons {
    display: flex;
    gap: 32px;
}

.header-bottom_button {
    background-color: var(--color-bg-light);
    border: 1px solid var(--border-color);
    border-radius: var(--border10);
    padding: 16px 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
}

.header-bottom_button:first-child {
    background-color: var(--bg-button-color);
}