.header {
    position: relative;
    max-width: 1220px;
}

.burger-menu {
    display: none;
}

.img_logo {
    width: calc(174px + (233 - 174) * ((100vw - 360px) / (1220 - 360)));
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    gap: 40px;
    align-items: center;
    font-family: "FiraSans";
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
}

.header__menu>li:first-child {
    padding: 8px 16px;
    border: 1px solid var(--border-color);
    border-radius: var(--border8);
}

.header__menu>li:hover,
.header-top__button:hover {
    color: var(--hover-color);
}

.header_enter {
    display: flex;
    gap: 10px;
}

.burger-menu {

    background-color: var(--color-bg-light);
}

.header-top__button {
    background-color: var(--color-bg-light);
    padding: 5px;
}

.header-top__button:focus~.pop-up__menu {
    display: block;
}


.header-bottom {
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bottom-left-wrapper {
    flex-direction: column;
}

.header__h1-gradient {
    background: linear-gradient(93.33deg, #d77be6 9.26%, #be63e6 42.32%, #6c38cc 104.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: calc(30px + (54 - 30) * ((100vw - 360px) / (1220 - 360)));
    line-height: calc(36px + (54 - 36) * ((100vw - 360px) / (1220 - 360)));
}

.header-bottom_buttons {
    display: flex;
    gap: calc(16px + (32 - 16) * ((100vw - 360px) / (1220 - 360)));
}

.header-bottom_button {
    background-color: var(--color-bg-light);
    border: 1px solid var(--border-color);
    border-radius: var(--border10);
    padding: 16px 32px;
    width: calc(163px + (179 - 163) * ((100vw - 360px) / (1220 - 360)));
    height: calc(46px + (54 - 46) * ((100vw - 360px) / (1220 - 360)));
}

.header-bottom_button:hover {
    color: var(--hover-color);
}

.header-bottom_button:first-child {
    background-color: var(--bg-button-color);
}

.header-bottom_button:last-child {
    width: calc(133px + (149 - 133) * ((100vw -360px) / (1220 -360)));
}

.img-video {
    width: calc(312px + (458 - 312) * ((100vw -360) / (1220 - 360)));
}