@media (max-width:1300px) {

    .footer__header-wrapper {
        display: flex;
        margin-bottom: 24px;
        flex-wrap: wrap;
        justify-content: start;
    }

    .footer__header_logo {
        margin-right: 30px;
    }

    .footer__wrapper {
        display: flex;
        flex-direction: column;
    }

    .footer__wrapper_lists {
        justify-content: space-between;
    }

}

@media (max-width:1050px) {
    .footer__wrapper_lists {
        flex-direction: column;
        gap: 24px;
    }
}