@media (max-width:1300px) {

    .footer__header-wrapper {
        display: flex;
        margin-bottom: 24px;
        flex-direction: column;
    }

}

@media (max-width:1050px) {
    .footer__wrapper_lists {
        flex-direction: column;
        gap: 24px;
    }
}