@media (max-width:1300px) {
    .social-info__wrapper {
        flex-direction: column;
    }

    .social-info__top {
        margin-bottom: 16px;
    }

    .info__button-wrapper {
        position: relative;
        margin: 0 auto;
    }

    .info__button {
        width: 279px;
        height: 46px;
    }

    .info__button_bottom {
        width: 312px;
        height: 46px;
        margin: 0 auto;
    }

}