.courses {
    background-color: var(--color-bg-dark);
    position: relative;
    width: calc(100% + 292px);
    left: -146px;
    padding: 100px 146px;
}

.courses__menu_list {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.courses__menu_list>li {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: var(--border10);
}

.courses__menu_list>li:nth-child(1) {
    background-color: var(--bg-button-color);
}

.courses__menu_list>li:hover {
    background-color: var(--color-bg-light);
}

.card-content__wrapper {
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
}

.courses__card {
    width: 360px;
    border-radius: var(--border10);
}

.course__card-content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: var(--color-bg-light);
}

.course__card-content_title>h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    margin-bottom: 4px;
}

.course__card-content_title>p {
    margin-bottom: 18px;
}

.course-time {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 18px;
}

.courses__cards-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.course__card-content_buttons {
    display: flex;
    gap: 10px;
}

.course__card-content_buttons>button {
    background-color: var(--color-bg-light);
    border: 1px solid var(--border-color);
    border-radius: 17px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    padding: 6px 12px;
}

.course__card-content_buttons>button:hover {
    background-color: var(--color-hover-button);
}

.course__card-content_buttons>button:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 4px;
}

.course__card-content_footer {
    background-color: var(--card-footer-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    border-radius: 0 0 var(--border10) var(--border10);

}

.course__card-content_footer>p {
    font-weight: 700;
    font-size: 22px;
    line-height: 26.4px;
}

.course__card-content_footer>button {
    padding: 16px 32px;
    background-color: var(--bg-button-color);
    border-radius: var(--border10);
    border: 1px solid transparent;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;

}

.course__card-content_footer>button:hover {
    background-color: var(--color-hover-button);
    border: 1px solid var(--border-color);
    box-sizing: border-box;

}