.social-section {
    position: relative;
    background-color: var(--color-bg-dark);
    width: calc(100% + 292px);
    left: -146px;
    padding: 100px 146px;
}

.social-section__header>p {
    font-family: "FiraSans";
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 32px;
}

.social_icons {
    display: flex;
    gap: 24px;
    margin-bottom: 48px;
}

.social_icons>img:hover {
    background-color: var(--color-hover-button);
}

.social_icons>img {
    border: 1px solid var(--border-color);
    border-radius: var(--border10);
    padding: 11px;
}

.social-info__wrapper {
    display: flex;
    justify-content: space-between;
    padding: calc(24px + (34 - 24) * ((100vw - 360px) / (1512 - 360))) calc(16px + (32 - 16) * ((100vw - 360px) / (1512 - 360)));
    background-color: var(--color-bg-light);
    margin-bottom: 32px;
}

.info__top>p {
    font-weight: "FiraSans";
    font-weight: 400;
    font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (1512 - 360)));
    line-height: calc(19.2px + (24 - 19.2) * ((100vw - 360px) / (1512 - 360)));
}

.info__top_wrapper {
    display: flex;
    margin-bottom: 12px;
    gap: 10px;
}

.info__top {
    display: flex;
    gap: 6px;
    align-items: center;
}

.social-info__title {
    margin-bottom: 12px;
}

.info__button {
    border: 1px solid var(--border-color);
    border-radius: var(--border10);
    background-color: var(--color-bg-light);
    width: 158px;
    height: 54px;
    position: relative;
    left: -8px;
}

.info__button:hover {
    background-color: var(--card-footer-color);
}

.info__button_bottom {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
    white-space: nowrap;
}